.form-input {
  position: relative;

  input,
  textarea {
    @apply bg-transparent px-[14px] pb-4 border-b border-primary-white outline-none w-full transition-colors duration-200 focus:placeholder:text-white border-0;
  }

  &.error {
    input,
    textarea {
      @apply border-primary-light-coral text-primary-light-coral;

      &::placeholder {
        @apply text-primary-light-coral/60;
      }
    }

    &::after {
      content: 'this field is required';
      margin-left: 14px;
      font-size: 10px;
      font-weight: bold;
      font-style: italic;
      @apply text-primary-light-coral;
    }
    &.fail-email::after {
      content: 'Please use a valid email address';
    }
  }
}
button[type='submit'] {
  padding-top: 9px;
  padding-bottom: 11px;
  @apply block w-fit px-8 bg-primary-white text-secondary-deep-jungle-green rounded-3xl;
}
