<!-- 
  Section 4: Ready to get started?
-->
<section class="relative bg-primary-light-coral px-6 py-[83px] md:py-[76px] overflow-hidden text-center">
  <figure class="absolute bottom-0 left-0 w-[200px] xl:w-auto h-[122px] xl:h-auto">
    <img src="../../assets/pattern/bg-pattern-home-6-about-5.svg" alt="circle lines square dots">
  </figure>

  <article
    class="flex flex-col md:flex-row justify-between items-center gap-6 relative max-w-[573px] lg:max-w-[917px] mx-auto">

    <h2 class="header-2 text-secondary-sacramento-state-green">Ready to get<br class="md:hidden"> started?</h2>

    <app-button routerLink="/contact" [Style]="'primary-dark'">
      contact us
    </app-button>
  </article>
</section>
<!-- 
  End of Section about the Start working with us
 -->