<!-- This Page will display the contact form of email -->

<section class="grid gap-14 pb-[88px] relative overflow-hidden">
  <!-- <article class="text-center">
    <h1 class="header-1 small">Contact</h1>
    <h2 class="header-2 big-leading mt-4 text-primary-light-coral">Ask us about</h2>

    <div class="px-6 mt-10 grid gap-6">
      <app-about-us *ngFor="let us of aboutUs" [Us]="us" />
    </div>
  </article> -->

  <article>
    <app-contact-form />
  </article>

  <figure class="absolute bottom-0 right-0 translate-x-1/2 translate-y-1/2">
    <img src="../../assets/pattern/bg-pattern-contact-2.svg" alt="two circles and a square">
  </figure>
</section>