<!-- <section class="overflow-hidden">

  <div class="px-8 md:px-0 lg:pl-12 xl:pl-0">
    <app-hero-section [Header]="title" [HeaderSpan]="''" [Description]="desc" [HeaderSmall]="true" />
  </div>

  <article class="relative mt-2 md:mt-[12px] h-[100px]">
    <figure class="absolute right-0 translate-x-1/2 md:bottom-0">
      <img src="../../assets/pattern/bg-pattern-about-1-mobile-nav-1.svg" alt="">
    </figure>
  </article>
</section>


<section
  class="bg-secondary-deep-jungle-green px-6 landscape:pt-[100px] md:px-[97px] lg:px-20 py-[88px] md:py-[100px] lg:py-[140px] overflow-hidden relative">

  <figure class="absolute left-0 -translate-x-1/2 top-0 -translate-y-1/2 md:translate-y-0">
    <img src="../../assets/pattern/bg-pattern-about-2-contact-1.svg" alt="">
  </figure>

  <app-directors-section class="relative" />

  <figure class="absolute bottom-0 right-0">
    <img src="../../assets/pattern/bg-pattern-home-4-about-3.svg" alt="square and 6 lines">
  </figure>

</section> -->

<section>

  
</section>