header {
  nav {
    li {
      @apply transition-colors duration-200 hover:text-primary-light-coral;
    }
  }

  #btn-open-nav {
    display: block;
    width: 20px;
    height: 17px;
    background: url(../../assets/icon/icon-hamburger.svg) no-repeat
      center/contain;
      
    @apply md:hidden;
  }
}
